:root {
  --primary-color: #00bcd4;
  --light-primaty-color: #b2ebf2;
  --dark-primary-color: #0097a7;
  --accent-color: #03a9f4;
  --primary-text: #212121;
  --text: #fff;
  --divider-color: ##bdbdbd;
  --success: #4caf50;
  --error: #f44336;
}
